# Configuration for ´master_script.py´ script

[create_input]
# Number of clips from "rating_clips" to be judged in one session, the trapping questions and gold clips will add up to this number
number_of_clips_per_session:10
number_of_trapping_per_session:1
number_of_gold_clips_per_session:1


[acr_html]
cookie_name:itu_p808_sup23_exp3
qual_cookie_name:ACR_LISTENER_01_14_2020
allowed_max_hit_in_project:60
hit_base_payment:0.5
quantity_hits_more_than: 30
quantity_bonus: 0.1
quality_top_percentage: 20
quality_bonus: 0.15

[dcr_ccr_html]
cookie_name:itu_p808_sup23_exp3
qual_cookie_name:ACR_LISTENER_19_12_2019
allowed_max_hit_in_project:60
hit_base_payment:0.5
quantity_hits_more_than: 30
quantity_bonus: 0.1
quality_top_percentage: 20
quality_bonus: 0.15

[CommonAccountKeys]
# Provide the azure storage account keys here where the clips are stored
audiosamplesp808blob:

[DefaultStorage]
StorageUrl:https://audiosamplesp808.blob.core.windows.net
StorageAccountKey:${CommonAccountKeys:audiosamplesp808blob}
Container:p808-assets
Path:

[GoldenSample]
StorageUrl:${DefaultStorage:StorageUrl}
StorageAccountKey:${DefaultStorage:StorageAccountKey}
Container:${DefaultStorage:Container}
Path:

[TrappingQuestions]
# Upload the trapping questions to an azure blob store and provide the details below
StorageUrl:
StorageAccountKey:
Container:
Path:

[MathQuestions]
StorageUrl:https://audiosamplesp808.blob.core.windows.net
StorageAccountKey:${CommonAccountKeys:audiosamplesp808blob}
Container:p808-assets
Path:/clips/math/

[PairComparisonQuestions]
StorageUrl:https://audiosamplesp808.blob.core.windows.net
StorageAccountKey:${CommonAccountKeys:audiosamplesp808blob}
Container:p808-assets
Path:/clips/sample_jnd/

[RatingClips]
# Comma seperated config keys for the various store configurations holding the rating clips
# Ex: RatingClipsConfigurations:store1,store2
RatingClipsConfigurations:

[store1]
StorageUrl:${DefaultStorage:StorageUrl}
StorageAccountKey:${DefaultStorage:StorageAccountKey}
Container:${DefaultStorage:Container}
Path:

[store2]
StorageUrl:${DefaultStorage:StorageUrl}
StorageAccountKey:${DefaultStorage:StorageAccountKey}
Container:${DefaultStorage:Container}
Path: