# Configuration for MTurk Utilities

[general]
aws_access_key_id: XXX
aws_secret_access_key: XXX
# default values for MTurk
region_name: us-east-1
endpoint_url: https://mturk-requester.us-east-1.amazonaws.com
# end point for the sandbox system
#endpoint_url = 'https://mturk-requester-sandbox.us-east-1.amazonaws.com'


[send_email]
# the id of requester
requester_client_id = ARAF31KCGJ5AA
subject= HIT on Listening test
message= Dear MTurk worker,\n
            Thank you for participating in the qualification study. We made 60 x 12 HITs available for the next step.
            There you should listen to 11 speech samples and rate your perceived quality for each sample on a scale. The job is rewarded by $0.4 and a bonus (in total up to $0.65 per assignment).\n
            Please follow the link below to proceed with the HIT:\n
            https://worker.mturk.com/requesters/%(requester_client_id)s/projects?ref=w_pl_prvw \n
            Note:Please only participate in this job if you fulfill the following requirements:\n
                - Your surrounding MUST be quiet when performing the HIT.\n
                - You MUST use a headset.\n
                - You are currently using a desktop (PC) or a laptop for the job.\n
            We would highly appreciate your participation.\n\n
            Regards,
worker_ids= XXX, YYYY
