argparse
pandas
configparser
librosa
numpy
soundfile
jinja2
boto3
scipy
asyncio
azure-common==1.1.27
azure-core==1.13.0
azure-storage-blob==12.8.1
azure-storage-common==2.1.0
azure-storage-file==2.1.0